<h1>New gadget</h1>

<div id="download_from_website">
  <%= form_for(@gadget, url: {action: "download_from_other_website"}) do |f| %>
  <%= "aaaa#{@gadget.id}bbbb" %>
  URL: <%= f.text_field :address_of_other_website %>
  <%= f.submit "Download" %>
  <% end %>
</div>

<div style="text-align:left;">
<%= render 'form' %>
</div>

<%= link_to 'Back', gadgets_path %>
