<!DOCTYPE html>
<html>
<head>
  <title>电子控—专业电子产品新闻网</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "FCKEditor/fckeditor.js" %>
  <%= csrf_meta_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="title" content="电子控—专业电子产品新闻网" />
  <meta name="keywords" content="电子控，电子产品，新闻网" />
  <meta name="description" content="电子控，专业电子产品新闻网。主要从事最新电子产品的新闻发布，介绍最前沿，最cool，最绚丽的电子产品信息。我是电子控，我也看也买。" />
</head>

<body>

<div>
   <div id="user_nav" class="loginin">
    <a title="登录" class="welcome" href="/login">您还未登录 !</a>
    <a style="color:red" href="http://www.iteye.com/all">我订阅的新闻</a>
    <a href="/login">登录</a>
    <a class="nobg" href="/signup">注册</a>
  	</div>
</div>

<div class="logo">
	<%
=begin %>
	<%= link_to image_tag("logo.png"), :controller => "gadgets", :action => "index" %>
	<%
=end %>
	<%= image_tag("logo.png")%>
</div>

<!--The main content including Banner, Content -->
<div id="mainContent" class="mainContent" >
	<%= yield %>
</div>
<div class="clear"></div>
<!-- The footer -->
<div id="footer" class="footer">
		<span>* <%= link_to 'Index', {:controller => 'gadgets', :action => 'index'} %></span> 
		<span>* <%= link_to 'About', {:controller => 'misc', :action => 'about'} %></span>
		<span>* <%= link_to 'Legal', {:controller => 'misc', :action => 'legal'} %></span> 
		<span>* Privacy</span> 
		<span>* Advertising</span>
		<span>* Subscribe</span>
		<!--<span>* Forums</span>-->
		<br />
		CopyRight (c) 2011. DianziKong@gmail.com
</div>

<div align="center"><!--VlexoFree_LinkBack--></div>

<!-- Baidu Analyze -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fcbe66e2b832d644aea161d8d8d38ee36' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
